*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 95vw;
    background-color: bisque;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 500px 100px ;
}
header , nav , article , footer{
    font-size: 2rem;
    padding: 20px;
    border: 5px solid coral;
    display:flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: rgb(254, 178, 153);
    grid-column-start: 1;
    grid-column-end: 13;
}
nav{
    background-color: darkorange;
    grid-column-start:  9;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;


}
article{
    background-color: crimson;
    grid-column-start: 1;
    grid-column-end: 9;
}
footer{
    background-color: chocolate;
    grid-column-start: 1;
    grid-column-end: 13;
    
}
