*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 95vw;
    background-color: bisque;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vw 70vw 15vw;
}
header , nav , article , footer{
    font-size: 2rem;
    padding: 20px;
    border: 5px solid coral;
    display:flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: rgb(254, 178, 153);
    grid-column: span 3;
}
nav{
    background-color: darkorange;
    grid-column: 1 span;
}
article{
    background-color: crimson;
    grid-column: 2 span;
}
footer{
    background-color: chocolate;
    grid-column: span 3;
}
